<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repository.Properties.Settings.VehicleRegisterDatabaseConnectionString"
            connectionString="Data Source=newtonvehicleregistry.database.windows.net;Initial Catalog=VehicleRegisterDatabase;Persist Security Info=True;User ID=AdminUser;Password=Admin!!!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>